# Summary

See link http://pandas.pydata.org/pandas-docs/stable/10min.html

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

# Object Creation

In [6]:
s=pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [8]:
dates=pd.date_range('20130101',periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2013-01-01 -0.026428  1.912048  0.038607 -0.394261
2013-01-02  0.584003  1.073406 -1.417473 -0.130895
2013-01-03  1.975895  0.525483 -0.127773  1.652036
2013-01-04  0.396077 -0.530323 -0.359729  0.271652
2013-01-05 -0.680194 -1.429637  0.535409 -0.769605
2013-01-06 -1.706067  0.400496 -1.414935  0.414331

In [25]:
df2 = pd.DataFrame({
                    'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)),dtype='float32'),
                    'D': np.array([2]*4, dtype='int32'),
                    'E': pd.Categorical(["test","train","test", "train"]),
                    'F': 'foo'})

In [26]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  2   test  foo
1  1 2013-01-02  1  2  train  foo
2  1 2013-01-02  1  2   test  foo
3  1 2013-01-02  1  2  train  foo

In [28]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [31]:
#df2.<TAB>