### 1.14 Preliminaries - import pandas library

In [1]:
import pandas as pd
import numpy as np


### Example 1 : Create a Basic Series Object

In [3]:
# series constructor with data as a list of integers
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [4]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [5]:
# type of series is pandas series

type(s1)

pandas.core.series.Series

In [6]:
# retrieve values of the series

s1.values

array([33, 19, 15, 89, 11, -5,  9])

In [7]:
# type of data values is NumPy ndarray

type(s1.values)

numpy.ndarray

In [8]:
# retrieve the indices of the array

s1.index

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [9]:
# think of a series as a mapping from the index to values

s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64


### 1.16 Example 1 : Create a Series Object with meaningful labels

In [10]:
# define the data and index as lists

data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [12]:
# create series

s2 = pd.Series(data1, index=index1)

In [13]:
s2

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [14]:
# verify index

s2.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], dtype='object')

In [15]:
# we can also give meaninful labels to the series data and the index

s2.name='Daily Temperature'
s2.index.name='Days of the Week'

In [16]:
s2

Days of the Week
Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
Name: Daily Temperature, dtype: int64

### Example 3: Data in a Series is homogenous

In [17]:
# the second data element in the list is a float

data2 = [33, 19.3, 15, 89, 11, -5, 9]

In [18]:
data2

[33, 19.3, 15, 89, 11, -5, 9]

In [19]:
s3 = pd.Series(data2, index=index1)

In [20]:
s3

Mon    33.0
Tue    19.3
Wed    15.0
Thu    89.0
Fri    11.0
Sat    -5.0
Sun     9.0
dtype: float64

### 1.18 Example 3: Creating a Series from a Python Dict

In [29]:
dict1 = {'Mon':33, 'Tue':19, 'Wed': 15, 'Thu':89, 'Fri':11, 'Sat':-5, 'Sun':9}

In [22]:
s4 = pd.Series(dict1)

s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

# Discussion

The most general representation of a Series is as an ordered key-value store.

- The order is represented by the offset.
- The key-value is a mapping from index or label to the data array values.
- Index as "offset" or "position" vs index as "label" or "key".

### 1.19 Series is ndarray-like

In [24]:
# vectorized operations

s4 * 2

Fri     22
Mon     66
Sat    -10
Sun     18
Thu    178
Tue     38
Wed     30
dtype: int64

In [25]:
np.log(s4)

Fri    2.397895
Mon    3.496508
Sat         NaN
Sun    2.197225
Thu    4.488636
Tue    2.944439
Wed    2.708050
dtype: float64

In [30]:
# slice using index label

s4['Thu':'Wed']

Thu    89
Tue    19
Wed    15
dtype: int64

In [31]:
s4[1:3]

Mon    33
Sat    -5
dtype: int64

In [38]:
# retrieve value using offset

s4[1]

33

In [40]:
# set value using offset
s4[1]=150

In [41]:
s4

Fri     11
Mon    150
Sat     -5
Sun      9
Thu     89
Tue     19
Wed     15
dtype: int64

In [42]:
# as a subclass of ndarray, Series is a valid argument to most NumPy functions - median

s4

Fri     11
Mon    150
Sat     -5
Sun      9
Thu     89
Tue     19
Wed     15
dtype: int64

In [51]:
#median

s4.median()

15.0

In [48]:
#maximum

s4.max()

150

In [52]:
#cumsum

s4.cumsum()

Fri     11
Mon    161
Sat    156
Sun    165
Thu    254
Tue    273
Wed    288
dtype: int64

In [55]:
# looping over a collection and indices

for i,v in enumerate(s4):
    print (i,v)

0 11
1 150
2 -5
3 9
4 89
5 19
6 15

In [56]:
# list comprehension can be used to create a new list

new_list = [x**2 for x in s4]

In [57]:
new_list

[121, 22500, 25, 81, 7921, 361, 225]

### 1.21 Series is dict-like

In [58]:
# is the key in the

'Sun' in s4

True

In [60]:
# retrieve value using key or index

s4['Tue']

19

In [61]:
s4['Tue']=60

In [62]:
s4

Fri     11
Mon    150
Sat     -5
Sun      9
Thu     89
Tue     60
Wed     15
dtype: int64

In [65]:
# looping over dictionary keys and values

for k,v in s4.iteritems():
    print (k,v)

Fri 11
Mon 150
Sat -5
Sun 9
Thu 89
Tue 60
Wed 15

# Resources